!snippet surge {{mod_cc("Action Surge", -1)}} -f "Action Surge|Starting at 2nd level, you can push yourself beyond your normal limits for a moment. On your turn, you can take one additional action.
{{cc_str("Action Surge")}} (-1)"