name: Update Avrae Collections
on:
  push:
    branches:
      - master
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.13"
      - name: Run Alias tests
        run: uv tool run avrae-ls==0.6.2 --run-tests ./Collections/
        env:
          AVRAE_TOKEN: "${{secrets.AVRAE_TOKEN}}"
  publish:
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - uses: actions/checkout@v2
      - id: modified-files
        uses: jitterbit/get-changed-files@master
        with:
          format: "json"
      - uses: 1drturtle/avrae-autoupdate@main
        with:
          avrae_token: "${{ secrets.AVRAE_TOKEN }}"
          collections_id_file_name: "collections.json"
          gvars_id_file_name: "gvars.json"
          modified_files: "${{ steps.modified-files.outputs.added_modified }}"
