name: Update Avrae Collections
on:
  push:
    branches:
      - master
jobs:
  alias-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: 1drturtle/avrae-ls@main
        with:
          test-path: .
          config-path: .github/avrae/ci.avraels.json
          avrae-token: ${{ secrets.AVRAE_TOKEN }}

  publish:
    runs-on: ubuntu-latest
    needs: [alias-tests]
    steps:
      - uses: actions/checkout@v2
      - id: modified-files
        uses: jitterbit/get-changed-files@master
        with:
          format: "json"
      - uses: 1drturtle/avrae-autoupdate@main
        with:
          avrae_token: "${{ secrets.AVRAE_TOKEN }}"
          collections_id_file_name: "collections.json"
          gvars_id_file_name: "gvars.json"
          modified_files: "${{ steps.modified-files.outputs.added_modified }}"
